body {
  background-image: url(/public/assets/images/NYC.jpg);
  padding-top: 70px;
}

.deleteNote {
  display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%;
}

#scrape {
  margin: 8px 0px;
}
